<!-- This file is a dummy file. it doesnt really do anything.
  I ended up deciding not to use it -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Delete Account {% endblock %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete User Account</legend>
            <p>Are you sure you want to delete your account?  This will permanently delete your
               profile and any content you have generated.</p>
            {{ form }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete Account</button>
            <a class="btn btn-primary-custom" style="float:right;"
               href="{% url 'profile' %}">Cancel</a>
    </div>
</form>

<h2>Delete your account</h2>
<hr>
<form action="." method="POST" class="padding">{% csrf_token %}
    {{ user_form.as_p}}
    <button class="btn btn-primary" type="submit" name="action">Save</button>
</form>
{% endblock %}
